{% extends "base.html" %}
{% load i18n %}

{% block extra_styles %}
  <style>
    hr {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  </style>
{% endblock %}
{% block content %}
  <section>
    <div class="col-md-12">
      <header class="post-header">
        <h2 class="post-title">{% trans 'Followers' %}</h2>
        <br />
      </header>
    </div>

    <div class="col-md-8">
      <div class="list-group">
        {% for follower in follower_list %}
          <a href="{{ follower.html_url }}" target="_blank" class="list-group-item">
            <p class="list-group-item-text">
              <div class="media">
                <div class="media-left">
                  <img class="media-object" data-src="holder.js/64x64" alt="64x64" src="{{ follower.avatar_url }}"
                       style="width: 64px; height: 64px;">
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{ follower.name }}</h4>
                  {{ follower.login }} <br />
                  {{ follower.email }}
                </div>
              </div>
            </p>
          </a>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}
