{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
        {% trans 'Django app with the Github API' %}
      {% endblock %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Django Github API">
    <meta name="author" content="Yakup Adaklı">

    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>
      .brand-title a {
        color: #ffffff;
      }
      .brand-title a:hover {
        text-decoration: none;
      }
    </style>
    {% block extra_styles %}{% endblock %}
  </head>
  <body>
    <div id="layout" class="col-md-12">
      <div class="sidebar col-md-3">
        <div class="header">
          <h1 class="brand-title">
            <a href="{% url 'index' %}">{{ github_user.name }}</a>
          </h1>
          <h2 class="brand-tagline">
            <a href="{{ github_user.html_url }}" target="_blank">
              @{{ github_user.login }}
            </a>
          </h2>

          <nav class="nav">
            <h3>{% trans 'Statistics' %}</h3>
              <ul class="nav-list">
                <li class="nav-item">{% trans 'Public Repos' %}: {{ github_user.public_repos|default:0 }}</li>
                <li class="nav-item">{% trans 'Public Gists' %}: {{ github_user.public_gists|default:0 }}</li>
                <li class="nav-item">{% trans 'Followers' %}   : {{ github_user.followers|default:0 }}</li>
                <li class="nav-item">{% trans 'Following' %}   : {{ github_user.following|default:0 }}</li>
              </ul>
          </nav>
        </div>
      </div>
      <div class="content col-md-9">
        <div>
        {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    {% block extra_scripts %}{% endblock %}
  </body>
</html>
